<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Royal Resorts</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Royal Resorts</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music for app</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth for app</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar for app</string>
	<key>NSCameraUsageDescription</key>
	<string>Perfil Photo</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts for app</string>
	<key>NSHealthShareUsageDescription</key>
	<string>HealthShare</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>HealthUpdate</string>
	<key>NSHomeKitUsageDescription</key>
	<string>HomeKit</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Esta App utilizará información de tu ubicación para enriquecer la experiencia durante tu estancia en Royal Resorts, ademas te notificara sobre los servicios y eventos que podrás disfrutar</string>
	<key>NSLocationUsageDescription</key>
	<string>Esta App utilizará información de tu ubicación para enriquecer la experiencia durante tu estancia en Royal Resorts, ademas te notificara sobre los servicios y eventos que podrás disfrutar</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta App utilizará información de tu ubicación para enriquecer la experiencia durante tu estancia en Royal Resorts, ademas te notificara sobre los servicios y eventos que podrás disfrutar</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use Microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion for app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Use Photo Library</string>
	<key>NSRemindersUsageDescription</key>
	<string>Use Reminder</string>
	<key>NSSiriUsageDescription</key>
	<string>Use Siri</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Use Speech Recognition</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>firebase_crashlytics_collection_enabled</key>
	<false/>
</dict>
</plist>
